:root {
  --light-black: #37352f;
  --white: whitesmoke;
  --black: #141414;
  --dim-grey: #707070;
  --white-smoke: #ebebeb;
  --honeydew: #c9e4ca;
  --alice-blue: #ecf5ff;
  --blue-green: #cae1e1;
  --darker-purple: #d7dae8;
  --pale-blue: #cde1f8;
  --navajo-white: #f9d798;
  --misty-rose: #dec0c0;
  --light-grey: #a8a8a8;
  --orange: #f8a60d;
  --lemon-chiffon: #ffefbd;
  --light-purple: #f3f6ff;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.container {
  max-width: 912px;
  position: static;
}

.heading {
  color: var(--light-black);
  font-family: Yeseva One, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;
}

.heading.h1 {
  text-align: left;
}

.heading.h1.black {
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lora, sans-serif;
  font-weight: 600;
  line-height: 60px;
  display: inline-block;
}

.heading.h1.white {
  color: var(--white);
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lora, sans-serif;
  font-weight: 600;
  line-height: 60px;
  display: inline-block;
}

.heading.h1.white.centered {
  text-align: center;
}

.heading.h2 {
  color: var(--light-black);
  font-family: Lora, sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.heading.h2.black {
  color: var(--light-black);
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 48px;
  display: inline-block;
}

.heading.h2.white {
  color: var(--white);
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 48px;
  display: inline-block;
}

.heading.h2 {
  color: var(--black);
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
}

.heading.h4 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: Lora, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}

.heading.h4.black {
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.heading.h4.white {
  color: var(--white);
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  display: inline-block;
}

.heading.h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lora, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  display: inline-block;
}

.heading.h3.white {
  color: var(--white);
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lora, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  display: block;
}

.heading.h3.black {
  max-width: 872px;
}

.h2 {
  color: var(--light-black);
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: Yeseva One, sans-serif;
  line-height: 48px;
}

.paragraph {
  color: var(--dim-grey);
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.paragraph.black {
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  line-height: 28px;
  display: block;
}

.paragraph.black.centered {
  text-align: center;
  font-size: 16px;
  display: block;
}

.paragraph.black.semi-bold {
  font-weight: 500;
}

.paragraph.white {
  color: var(--white);
  max-width: 872px;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  line-height: 28px;
  display: block;
}

.paragraph.white.centered {
  color: var(--white);
  text-align: center;
  margin-bottom: 16px;
}

.paragraph.white.semi-bold {
  font-weight: 500;
}

.navbar {
  background-color: #141414d9;
  position: fixed;
  inset: 0% 0% auto;
}

.landing-page-columns {
  flex-wrap: wrap;
  margin-top: 0;
  display: flex;
}

.left-tree {
  object-fit: fill;
  flex: 0 auto;
  align-self: flex-start;
  max-width: 100%;
  max-height: 600px;
  position: static;
}

.right-tree {
  object-fit: fill;
  flex: 0 auto;
  max-width: 100%;
  max-height: 600px;
  display: inline-block;
}

.body {
  background-color: var(--black);
}

.lp-column-3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.lp-column-1 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-end;
  display: flex;
}

.bold-text {
  color: var(--white);
  text-decoration: underline;
}

.lp-column-2 {
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.lp-work-title-container {
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1170px;
  display: flex;
}

.nav-link-block {
  color: var(--white);
  text-align: left;
  padding: 16px 20px;
  text-decoration: none;
}

.nav-link-block.w--current {
  padding-top: 16px;
  padding-bottom: 8px;
}

.menu-item-text.paragraph.white {
  text-decoration: none;
}

.menu-item-text-underline {
  background-color: var(--white);
  transform-origin: 0%;
  color: #0000;
  height: 2px;
  margin-top: -8px;
}

.sparkle-1 {
  align-self: center;
  padding-right: 16px;
  display: inline-block;
  position: relative;
}

.sparkle-2 {
  align-self: center;
  padding-left: 16px;
}

.lp-projects-container {
  max-width: 1170px;
  margin-bottom: 0;
  padding-bottom: 72px;
}

.button-text {
  text-decoration: none;
  display: inline-block;
}

.button-text.paragraph.black {
  color: var(--light-black);
  padding-right: 8px;
  font-weight: 500;
  display: inline-block;
}

.button-text.paragraph.black.semi-bold {
  font-weight: 500;
}

.button-with-arrow {
  background-color: var(--white-smoke);
  border-radius: 8px;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
}

.arrow-in-button.paragraph.black {
  color: var(--light-black);
  padding-right: 8px;
  display: inline-block;
}

.arrow-in-button.paragraph.black.semi-bold {
  font-weight: 500;
}

.lp-project-list {
  max-width: 1170px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.project-image-container {
  z-index: 10;
  background-color: var(--black);
  text-align: center;
  object-fit: fill;
  border: 4px solid #eef0f4;
  border-radius: 8px;
  flex-wrap: nowrap;
  flex: 0 auto;
  order: 0;
  align-self: center;
  align-items: center;
  margin-bottom: 0;
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  display: inline-block;
  position: static;
  transform: rotate(0);
}

.project-overview-container {
  z-index: 1;
  background-color: var(--black);
  border: 4px solid #eef0f4;
  border-radius: 8px;
  order: 0;
  margin-left: -16px;
  margin-right: -16px;
  padding: 56px 40px;
  display: inline-block;
  position: relative;
  inset: auto 0% 0% auto;
}

.project-overview-container.dotted-border {
  border-style: dashed;
  order: -1;
}

.project-overview {
  max-width: 264px;
  margin: 16px;
}

.list-item {
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 88px;
  display: flex;
}

.divider {
  background-color: var(--white);
  height: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.project-text-div {
  margin-top: 0;
  margin-bottom: 24px;
}

.project-case-study-overview-container {
  max-width: 912px;
  margin-bottom: 0;
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.project-section-overview-section {
  background-color: var(--black);
  transform-origin: 50%;
  color: var(--honeydew);
  margin-top: 0;
  padding-bottom: 40px;
}

.project-content-container {
  max-width: 872px;
  padding-left: 0;
  padding-right: 0;
}

.image {
  object-fit: fill;
  flex-flow: column wrap;
  align-content: center;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.project-content-section {
  color: var(--alice-blue);
  background-color: #fbfbfb;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 64px;
}

.block-quote.paragraph.white {
  padding: 24px;
  display: block;
}

.block-quote.paragraph.black {
  border-left-color: #707070;
  padding: 24px;
  font-weight: 700;
  display: block;
}

.case-study-section-div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.case-study-section-div.footprint {
  margin-bottom: 56px;
}

.list {
  color: var(--light-black);
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 32px;
  list-style-type: disc;
}

.list.numbered {
  list-style-type: decimal;
}

.caption {
  color: var(--dim-grey);
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.caption.black {
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: DM Sans, sans-serif;
  display: inline-block;
}

.caption.white {
  color: var(--white);
  max-width: 872px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: DM Sans, sans-serif;
  display: block;
}

.caption.white.homepage-subheader {
  margin-bottom: 0;
}

.caption.gray {
  color: var(--dim-grey);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
}

.caption.centered {
  text-align: center;
}

.trigger-for-table-of-content {
  width: 1px;
}

.list-item-1 {
  align-self: center;
  display: flex;
}

.list-item-2 {
  flex-wrap: wrap;
  display: flex;
}

.about-me-container {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 872px;
  margin-top: 0;
  padding: 0;
  display: flex;
}

.about-me-columns {
  flex-wrap: wrap;
  max-width: 872px;
  display: flex;
}

.about-me-column-1 {
  padding-left: 0;
  padding-right: 0;
}

.about-me-column-2 {
  padding-left: 48px;
  padding-right: 0;
}

.profile-picture {
  z-index: 10;
  text-align: center;
  object-fit: fill;
  background-color: #141414;
  border: 0 solid #eef0f4;
  border-radius: 8px;
  order: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding: 0;
  position: relative;
}

.link {
  color: var(--white);
  text-decoration: underline;
}

.about-me-paragraph {
  padding-bottom: 0;
  padding-right: 0;
}

.grid {
  grid-column-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 48px;
}

.about-body, .fun-body, .style-guide-body {
  background-color: var(--black);
}

.container-2 {
  max-width: 912px;
}

.navbar-2 {
  background-color: var(--black);
}

.results-column {
  padding-top: 24px;
  padding-bottom: 24px;
}

.body-2 {
  background-color: #fbfbfb;
}

.columns-3 {
  flex-wrap: wrap;
  padding-top: 16px;
  display: flex;
}

.onboarding-new-modal-image, .checklist-image {
  padding-top: 16px;
  padding-bottom: 16px;
}

.personalize-your-values-image, .footprint-demo-gif, .tree-gif, .challenge-friends-image {
  padding-bottom: 16px;
}

.sparkle-5 {
  transform-style: preserve-3d;
  padding-left: 0;
  padding-right: 8px;
  transform: rotateX(0)rotateY(-180deg)rotateZ(0);
}

.footer {
  background-color: #141414;
  padding-top: 16px;
  padding-bottom: 16px;
}

.bold {
  color: var(--dim-grey);
  font-weight: 700;
}

._8px-top-padding {
  padding-top: 8px;
}

.hero-image {
  background-color: var(--blue-green);
}

.hero-image.honeydew {
  background-color: var(--honeydew);
}

.hero-image.light-green-blue {
  background-color: var(--blue-green);
}

.hero-image.darker-purple {
  background-color: var(--darker-purple);
}

.hero-image.pale-blue {
  background-color: var(--pale-blue);
}

.hero-image.navajo-white {
  background-color: var(--navajo-white);
}

.hero-image.misty-rose {
  background-color: var(--misty-rose);
}

.container-5 {
  justify-content: center;
  display: flex;
}

.image-13 {
  padding-bottom: 16px;
}

.points-section {
  padding-bottom: 8px;
}

.badging-cover-image {
  max-height: 280px;
}

.container-6 {
  max-width: 912px;
}

.fine-depreciation-homepage-img, .ftrl-homepage-img, .scorecard-homepage-img {
  border-radius: 4px;
  max-height: 280px;
}

.old-ftr-gif {
  border-radius: 8px;
  padding-top: 0;
}

.scorecard-gif {
  border-radius: 8px;
  padding-top: 0;
  padding-bottom: 0;
}

.container-7 {
  max-width: 872px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.style-element {
  max-width: 912px;
  margin-bottom: 25px;
}

.divider-div {
  margin-top: 8px;
  margin-bottom: 16px;
}

.project-case-study-overview-title {
  max-width: 872px;
  margin-top: 16px;
  margin-bottom: 8px;
}

._8px-padding {
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

._16px-padding {
  padding-top: 16px;
  padding-bottom: 16px;
}

.rounded-image {
  border-radius: 8px;
}

._24px-padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.squiggly-divider {
  max-width: 872px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: inline-block;
}

.about-me-plants-container {
  max-width: 872px;
}

.grid-4 {
  grid-template-rows: 200px 200px auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div-block-9 {
  background-image: url('../images/IMG_8093.JPG');
  background-position: 50%;
  background-size: cover;
}

.div-block-9.rounded-image {
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-10 {
  background-image: url('../images/IMG_8072.JPG');
  background-position: 50%;
  background-size: cover;
  border-radius: 11px;
}

.div-block-11 {
  background-image: url('../images/IMG_8073.JPG');
  background-position: 50% 0;
  background-size: cover;
}

._32px-padding {
  padding-top: 32px;
  padding-bottom: 32px;
}

.squiggly-line-container {
  justify-content: center;
  display: flex;
}

._40px-padding-bottom {
  padding-bottom: 40px;
}

.image-14 {
  max-height: 280px;
}

@media screen and (max-width: 991px) {
  .icon {
    color: var(--white);
    padding-top: 8px;
  }

  .right-tree {
    max-width: 100%;
  }

  .lp-projects-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-image-container {
    transform: rotate(0);
  }

  .project-overview-container {
    padding: 48px;
  }

  .project-overview {
    margin: 0;
  }

  .project-content-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-content-section {
    padding-bottom: 32px;
  }

  .list-item-2 {
    flex-wrap: nowrap;
  }

  .about-me-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .about-me-columns {
    margin-left: 0;
    margin-right: 0;
  }

  .about-me-column-2 {
    padding-right: 16px;
  }

  .profile-picture {
    transform: rotate(0);
  }

  .about-me-paragraph {
    padding-bottom: 32px;
    padding-left: 16px;
  }

  .hero-image.navajo-white {
    background-color: var(--honeydew);
  }

  .hero-image.misty-rose {
    background-color: var(--misty-rose);
  }

  .container-5 {
    max-width: 912px;
  }

  .badging-cover-image, .fine-depreciation-homepage-img {
    max-width: 100%;
  }

  .rounded-image {
    border-radius: 8px;
  }

  .squiggly-divider._32px-padding {
    width: 100%;
  }

  .about-me-plants-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .grid-4 {
    grid-template-rows: 300px auto auto;
    grid-template-columns: 300px auto auto auto;
  }
}

@media screen and (max-width: 767px) {
  .left-tree {
    align-self: flex-start;
    max-width: 30%;
  }

  .right-tree {
    order: 0;
    max-width: 30%;
  }

  .lp-column-3 {
    order: -1;
  }

  .lp-column-1 {
    order: 1;
  }

  .nav-link-block.email {
    display: none;
  }

  .lp-projects-container {
    padding-bottom: 32px;
  }

  .project-image-container {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    flex: 0 auto;
    order: -1;
    max-width: 480px;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .project-overview-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    align-self: center;
    max-width: 480px;
    margin-top: -4px;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .project-overview-container.dotted-border {
    order: 1;
    align-self: center;
  }

  .project-overview {
    max-width: none;
  }

  .list-item {
    flex-flow: column wrap;
  }

  .project-content-section {
    padding-bottom: 32px;
  }

  .list-item-1 {
    flex-flow: column wrap;
  }

  .list-item-2 {
    flex-direction: column;
  }

  .about-me-column-2 {
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .about-me-paragraph {
    padding-left: 0;
  }

  .column-7, .column-8, .column-9, .column-10 {
    text-align: center;
  }

  .column-16, .column-17 {
    padding-bottom: 16px;
  }

  .badging-cover-image, .fine-depreciation-homepage-img {
    max-width: 100%;
    max-height: none;
  }

  .grid-4 {
    grid-template-rows: 200px 200px auto;
    grid-template-columns: 200px auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.white.centered {
    align-self: center;
    max-width: 320px;
  }

  .left-tree {
    max-width: 25%;
    display: none;
  }

  .right-tree {
    max-width: 25%;
    margin-top: 20px;
    display: none;
    overflow: visible;
  }

  .lp-column-3 {
    order: -1;
    overflow: visible;
  }

  .lp-column-1 {
    order: 1;
  }

  .lp-column-2 {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .nav-link-block {
    justify-content: flex-end;
    display: inline-block;
  }

  .nav-link-block.email, .sparkle-1, .sparkle-2 {
    display: none;
  }

  .lp-projects-container {
    padding-bottom: 32px;
  }

  .project-image-container {
    max-width: 320px;
    display: block;
  }

  .project-overview-container {
    max-width: 320px;
    padding: 24px;
  }

  .project-content-section {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .list-item-1 {
    flex-wrap: wrap;
  }

  .profile-picture {
    display: block;
  }

  .menu-button {
    padding-top: 20px;
  }

  .nav-menu {
    display: flex;
  }

  .badging-cover-image, .fine-depreciation-homepage-img {
    max-width: 100%;
    max-height: none;
  }

  .grid-4 {
    grid-template-rows: 100px 100px auto;
    grid-template-columns: 100px auto auto auto;
  }
}

#w-node-a71deea9-cf63-b178-9abc-57bd941f19de-da45b5f3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_907edde8-a8bf-bfcd-e1b0-eb7f09a48869-da45b5f3, #w-node-_2c119b1b-b655-c2a8-50c9-57db4266dab6-da45b5f3 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

#w-node-_756c2a17-700c-fd2b-1b46-89dc22a534be-da45b5f3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8f8b6c9e-7535-8cf4-4640-ad45ee22588c-2745b5f4 {
  grid-area: span 3 / span 2 / span 3 / span 2;
}

#w-node-_482d618c-4624-c946-3e79-a0557a0a0f5c-2745b5f4, #w-node-c402fb8f-d6a2-6c0c-8c26-6b3c3928bfb7-2745b5f4 {
  grid-area: span 3 / span 1 / span 3 / span 1;
}


